/* Global */

:root {
  --Color-Red: #ff7a7a;
  --Color-Green: #38cc8c;
  --Color-Blue: #6055a5;
  --Dark-Blue: #3e3c49;
  --Grayish-Blue: #b9b6d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--Color-Red);
  background-image: url(../images/bg-intro-mobile.png);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding: 8.8rem 0;
}

main {
  padding: 0 2.4rem;
}

.intro-text {
  color: #ffffff;
  text-align: center;
  margin-bottom: 6.4rem;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin-bottom: 1.6rem;
}

.intro-text p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.intro-banner {
  background-color: var(--Color-Blue);
  color: #fff;
  text-align: center;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  margin-bottom: 2.4rem;
  border-radius: 10px;
  padding: 1.8rem 6.7rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h2 span {
  font-weight: 700;
  line-height: 25px;
}
