/* Global */

:root {
  --Color-Red: #ff7a7a;
  --Color-Green: #38cc8c;
  --Color-Blue: #6055a5;
  --Dark-Blue: #3e3c49;
  --Grayish-Blue: #b9b6d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--Color-Red);
  background-image: url(../images/bg-intro-mobile.png);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding: 8.8rem 0;
}

main {
  padding: 0 2.4rem;
}

.intro-text {
  color: #ffffff;

  text-align: center;
  margin-bottom: 6.4rem;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin-bottom: 1.6rem;
}

.intro-text p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
