/* Global */

:root {
  --Color-Red: #ff7a7a;
  --Color-Green: #38cc8c;
  --Color-Blue: #6055a5;
  --Dark-Blue: #3e3c49;
  --Grayish-Blue: #b9b6d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--Color-Red);
  background-image: url(../images/bg-intro-mobile.png);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  padding: 0 2.4rem;
}
